<div style=" font-size:20xp;height:50px;line-height:50px;text-align:center;margin-top:200px;font-weight:bolder;width:500px;margin: 0 auto;background-color: bisque;">
    欢迎您：@System.DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss fff")
</div>
